<html>
	<head>
		<%= include_gon %>
		<script src="http://code.highcharts.com/highcharts.js"></script>
<!--
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>	
-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<style>
			body {background-color: #f6f6f6; font-family: avenir; font-size: 12px;}
			.hidden { display: none; }
			.site-content { height: 1000px; }
			.well { margin-top: 50px; background-color: #fff; line-height: 50px;}
			.attribute { background-color: #FCAA1A; color: white; padding: 5px 7px 5px 12px; margin-right: 5px; border-radius: 15px; white-space: nowrap; }
			.attribute-delete{ color: #fff; border: 1px solid #fff; padding: 1px 6px; border-radius: 10px; margin-left: 5px; }
			.attribute-add { background-color: none; color: #fcaa1a; font-size: 10px; border: 1px solid #fcaa1a; padding: 3px 7px; border-radius: 12px; margin-right: 5px; white-space: nowrap; }
			.attribute-add.only { background-color: #fcaa1a; color: #fff; }
			.attribute-group { background-color: #FADFB1; padding: 12px 10px; color: #FCAA1A; border-radius: 25px; margin: 10px; }
			.group-add { font-size: 10px; border: 1px solid #fcaa1a; padding: 5px 10px; border-radius: 25px; color: #fcaa1a; white-space: nowrap}
			.group-delete{ background: none; border: 1px solid #FCAA1A; color: #FCAA1A; padding: 3px 7px; border-radius: 10px; }
			.selector { border-bottom: 1px dotted #fff; }
			.in-not, .dimension { margin-right: 7px; }
			.and { margin-right: 10px; }
			.or { margin-left: 10px; color: #fcaa1a; }
			svg { margin-top: 0px; }
			#lifecycle-chart::after { width: 100%; }
			#lifecycle-chart text { fill: #666; }
			svg text { font-size: 12px; font-family: helvetica, sans-serif; }
			#lifecycle-chart { line-height: 0; }
			#lifecycle-chart .lifecycle-stage-label text { font-weight: lighter !important; font-size: 24px; cursor: pointer; fill: #333; }
			
		</style>
		
	</head>
	
	<body>
	<div class="container">
		<div class="well">
			<div>
				<span class="sentence-start">Customers who</span>
				<span class="attribute-group first-group">
	<!--
					<span class="attribute first-attribute">
						<span class="in-not selector dropdown">
							<span class="dropdown-toggle segment" type="button" data-toggle="dropdown" id="" aria-expanded="true">were in</span>
							<ul class="dropdown-menu match-dropdown" role="menu" aria-labelledby=""></ul>
						</span> 
						<span class="dimension selector dropdown">
							<span class="dropdown-toggle" type="button" data-toggle="dropdown" id="" aria-expanded="true">any segment</span>
							<ul class="dropdown-menu dimension-dropdown" role="menu" aria-labelledby=""></ul>
						</span>
					</span>
	-->
					<span class="attribute-add-dropdown dropdown">
						<span class="dropdown-toggle attribute-add only" type="button" data-toggle="dropdown" id="" aria-expanded="true">Add a filter</span>
						<ul class="dropdown-menu attr-dropdown" role="menu">
							<li class="segment"><a href="javascript:void(0)">Add Segment</a></li>
							<li class="action"><a href="javascript:void(0)">Add Action</a></li>
							<li class="attr"><a href="javascript:void(0)">Add Attribute</a></li>
							<li class="expression"><a href="javascript:void(0)">Add Expression</a></li>
							<li class="lifecycle"><a href="javascript:void(0)">Add Lifecycle Stage</a></li>
							<li class="buycycle"><a href="javascript:void(0)">Add Buying Cycle Stage</a></li>
						</ul>
					</span>
				</span>
	
				<span class="group-add-dropdown dropdown hidden">
					<span class="dropdown-toggle group-add" type="button" data-toggle="dropdown" id="" aria-expanded="true">+ OR</span>
					<ul class="dropdown-menu attr-dropdown" role="menu">
						<li class="segment"><a href="javascript:void(0)">Add Segment</a></li>
						<li class="action"><a href="javascript:void(0)">Add Action</a></li>
						<li class="attr"><a href="javascript:void(0)">Add Attribute</a></li>
						<li class="expression"><a href="javascript:void(0)">Add Expression</a></li>
						<li class="lifecycle"><a href="javascript:void(0)">Add Lifecycle Stage</a></li>
						<li class="buycycle"><a href="javascript:void(0)">Add Buying Cycle Stage</a></li>
					</ul>
				</span>
			</div>
			<div><a href="javascript:void(0)" class="btn btn-primary">Update</a></div>
		</div>
		<div class="well site-content">
			<div id="lifecycle-chart"></div>
			<div class="section-label">
				<h3>Device Types</h3>
				<div id="device-types" class="dimension"></div>
			</div>
<!--
			<h1>Lifecycle Stage Analysis</h1>
			
			<p>No Purchase: <%= "#{@noPurchase}" %></p>
			<p>One Purchase: <%= "#{@onePurchase}" %></p>
			<p>Repeat: <%= "#{@repeat}" %></p>
			<p>Loyal: <%= "#{@loyal}" %></p>
	
			<h2>Top 10 Products</h2>
			<div class="product_container">
			</div>
			<% @products.limit(10).each do |product| -%>
				<p><%= product.name %>: <%= product.order_items_count %></p>
			<% end -%>
			
			
			<h2>Top 10 Product Categories</h2>
			<div class="category_container">
			</div>
			
			
			
			
			<% @product_categories.limit(10).each do |category| -%>
				<p><%= category.name %>: <%= category.order_items_count %></p>
			<% end -%>
-->
		</div>
	</div>
	


	</body>
</html>
